.hwaccel {
  -webkit-transform: translateZ(0);
}
*:hover {
  opacity: 1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #666;
  background: #fff;
}
button, select, input, a, i {
  float: left;
  padding: 7px;
  height: 32px;
  border: solid 1px #ccc;
  margin: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0.75;
}
button {}
button.number {
  width: 32px;
}
button.text {
  width: 176px;
}
select {
  cursor: pointer;
  width: 176px;
}
select.number {}
select.text {}
input {
  cursor: text;
  height: 16px;
  width: 160px;
}
input.number {
  width: 48px
}
input.text {
  width: 48px
}
i {
  width: 16px;
  height: 16px;
  text-align: center;
}
.number {
  font-size: 14px;
}
.text {
  padding-top: 3px;
  padding-bottom: 3px;
}
.menu, .menu > div {
  float: left;
  display: block;
  width: 100%
}
#download i {
  position: relative;
}
#download i object {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#upload input {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
}
#header {
  margin: 0;
  padding: 7px;
  border: solid 1px #ccc;
}
#logo {
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}
#leftMenu {
  float: left;
  margin: 0;
  padding: 7px;
  border: solid 1px #ccc;
  display: none;
  position: absolute;
  bottom: 0;
  overflow: auto;
  width: 240px
}
#editor {
  border: solid 1px #ccc;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  float: left;
  padding: 0;
}
.left {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.right {
  margin-left: 0;
  border-left: 0;
  padding-left: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.top {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bottom {
  margin-top: 0;
  border-top: 0;
  padding-top: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.red {
  background: #D64937;
  background: -webkit-linear-gradient(top, #DC4A38, #D14836);
  color: #fff;
}
.green {
  background: #D64937;
  background: -webkit-linear-gradient(top, #DC4A38, #D14836);
  color: #fff;
}
.blue {
  background: #D64937;
  background: -webkit-linear-gradient(top, #DC4A38, #D14836);
  color: #fff;
}
.yellow {
  background: #D64937;
  background: -webkit-linear-gradient(top, #DC4A38, #D14836);
  color: #fff;
}
