//- demo.jade

doctype html
html
    head
        //- These links go above the current directory into bower components 
        //- which is in the current directory, so that when used in an app they
        //- link to the correct place.
        script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
        link(rel='import' href='bower_components/paper-toast/paper-toast.html')
        link(rel='import' href='dist/#{node}.html')
        style.
            body {
                position: absolute;
                display: flex;
                flex: 1;
                flex-direction: column;
                width: 100%;
                height: 100%;
            }
            #node {
                margin: 48px;
            }
    body(style='margin:0;padding:0;')
        paper-toast#show
        #{node}#node&attributes(query)
            p some content
    script.
        var node = document.getElementById('node');
        var show = document.getElementById('show');
        Object.keys(node.properties).filter(function(prop) {
            return node.properties[prop].notify;
        }).forEach(function(prop) {
            node.addEventListener(prop + '-changed', function(e) {
                show.setAttribute('text', node[prop]);
                show.show();
            });
        });
