<!DOCTYPE html>
<html>
  <head>
    <style>
      ace-editor {
        height: 300px;
        margin: 24px;
      }
    </style>
  </head>
  <body>
    <script src="index.js" type="module"></script>
    <ace-editor mode="text" theme="github" indent>
      This editor preserves indentation from the html
        Tabs are kept though, only first level of indentation is removed
    </ace-editor>
    <ace-editor mode="javascript" theme="eclipse">
      This editor removes indentation
      As you can see
    </ace-editor>
    <ace-editor alt>
      In this tab
      The alt key mode is always on
      Try dragging the cursor through some lines.
    </ace-editor>
    <ace-editor id="commands">
      This one has some special commands
    </ace-editor>
    <script>
      [...document.getElementsByTagName('ace-editor')].map(editor => [
        'ready',
        'change',
      ].map(event => editor.addEventListener('event', console.log)))
      document.getElementById('commands').addEventListener('ready', ({ target }) => {
      
        console.log('ready, adding commands', { target })
        target.addCommands([{
          name: 'toggle',
          exec: console.log,
          bindKey: { win: 'Alt-Space', mac: 'Alt-Space' },
        }, {
          name: 'download',
          exec: console.log,
          bindKey: { win: 'Ctrl-S', mac: 'Ctrl-S' },
        }, {
          name: 'upload',
          exec: console.log,
          bindKey: { win: 'Ctrl-O', mac: 'Ctrl-O' },
        }, {
          name: 'gotolineend',
          exec: console.log,
          multiSelectAction: "forEach",
          scrollIntoView: "cursor",
          readOnly: true
        }, {
          name: 'gotolinestart',
          exec: console.log,
          multiSelectAction: "forEach",
          scrollIntoView: "cursor",
          readOnly: true
        }])
        
      })
      
    </script>
  </body>
</html>
